/*font*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@font-face {
  font-family: "ChenYuluoyan-Thin";
  src: local("ChenYuluoyan-Thin") ， url(../font/ChenYuluoyan-Thin.woff2)
      format("woff2"),
    url(../font/ChenYuluoyan-Thin.woff) format("woff"),
    url(../font/ChenYuluoyan-Thin.ttf) format("turetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft JhengHei";
  font-size: 16px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

/*body*/
body {
  position: relative;

  img {
    max-width: 100%;
  }

  header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    z-index: 1000;
  }

  div.logo {
    display: flex;
    align-items: center;
    a {
      width: 132px;
    }
  }

  div.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  .nav {
    display: flex;
    ul {
      list-style: none;
      display: flex;
      li {
        margin-left: 20px;
        a {
          color: white;
          text-decoration: none;
          font-family: "Noto Sans TC", sans-serif;
          font-weight: 300;
          font-size: 15px;
        }
      }
    }
  }

  main {
    overflow-x: hidden;
    background: url(../images/bg-01.png);
    background-size: cover;
    background-attachment: fixed;
    div.container {
      max-width: 1300px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
    }

    section.banner {
      min-height: 100vh;
      background-image: url(../images/banner1.png);
      background-size: cover;
      background-position: center;
      transition: all 0.75s ease;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 0;

      div.filter {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      div.slogan {
        h2 {
          font-family: "Playfair", sans-serif;
          color: white;
          font-size: 55px;
          line-height: 65px;
          padding-bottom: 1rem;
        }
        p {
          font-family: "Noto Sans TC", sans-serif;
          font-weight: 100;
          color: white;
          font-size: 22px;
          letter-spacing: 3px;
        }
      }
    }

    section.intro {
      background-color: white;
      padding: 5rem 0;
      position: relative;

      div.pic-p {
        position: absolute;
        left: 0;
        bottom: -7px;
      }

      div.intro-t {
        margin-left: 36%;

        h2 {
          font-family: "Playfair", serif;
          font-size: 55px;
          line-height: 60px;
          font-weight: 500;
        }

        h3 {
          font-family: "ChenYuluoyan-Thin";
          font-size: 45px;
          padding: 1rem 0 3rem 0;
        }

        img {
          padding: 1rem 0 2rem 0;
        }

        div.btn-box {
          display: flex;
          flex-wrap: wrap;
          padding-top: 2rem;

          a {
            width: 120px;
            background: white;
            border: 1px solid #d1d1d1;
            color: gray;
            padding: 0.2rem 0.5rem;
            text-align: center;
            text-decoration: none;
            transition: 0.2s ease-in-out;
            font-size: 13px;
            &:first-child {
              margin-right: 30px;
            }

            &:hover {
              color: white;
              background: black;
              border: 1px solid black;
            }
          }
        }
      }
    }

    section.info-brand {
      background-image: url(../images/bg-00.png);
      padding: 5rem 0;

      h2 {
        color: white;
        font-family: "Noto Sans TC", sans-serif;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 3px;
        margin: auto;
      }

      ul {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;

        li {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: all 0.2s;
          &:nth-child(2) {
            margin-top: 20px;
          }

          div.b-pic {
            position: relative;
            a {
              dl {
                background-color: rgba(0, 0, 0, 0.7);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                opacity: 0;
                p {
                  color: white;
                  text-decoration: none;
                  padding-top: 1.5rem;
                }
              }
              &:hover {
                dl {
                  opacity: 1;
                }
              }
            }
          }

          div.b-text {
            background-color: white;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            margin-top: -9px;
            z-index: 1;
            padding: 0 1.5rem 1.5rem 1.5rem;
            text-align: center;
            h3 {
              font-family: "Playfair", serif;
              font-size: 30px;
              line-height: 32px;
              padding: 1.5rem 0;
            }
          }
        }
      }
    }

    section.item {
      background-color: rgba(0, 0, 0, 0);
      background-size: cover;
      background-position: center;
      padding: 5rem 0;

      h2 {
        color: black;
        font-family: "Noto Sans TC", sans-serif;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 3px;
        padding-bottom: 3rem;
        margin: auto;
      }

      .carousel {
        position: relative;
        width: 100%;
        margin: auto;
        overflow: hidden;
        background-color: white;
        border-radius: 20px;
        padding: 3rem 0;
        box-shadow: 0 0 10px #ccc;
      }

      .carousel-items {
        display: flex;
        transition: transform 0.5s ease;
      }

      .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          height: auto;
          padding-right: 5%;
          border-right: 1px solid #eee;
        }
        div.item-box {
          text-align: left;
          padding-left: 5%;
          h3 {
            width: fit-content;
            background-color: black;
            color: white;
            font-family: "Playfair", serif;
            font-size: 22px;
            padding: 0 0.5rem;
          }
          h4 {
            font-family: "Noto Sans TC", sans-serif;
            font-weight: 300;
            font-size: 25px;
            padding: 0.8rem 0 2rem 0;
          }
          h5 {
            color: #929292;
            padding-bottom: 2rem;
          }
        }
      }

      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        cursor: pointer;
        font-size: 18px;
      }

      .prev {
        left: 25px;
      }

      .next {
        right: 25px;
      }
    }

    section.store {
      background-color: white;
      padding: 5rem 0;
      h2 {
        font-family: "Playfair", serif;
        font-size: 55px;
      }
      h3 {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 2rem 0;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
        iframe {
          filter: grayscale(1);
          margin-bottom: 10px;
          &:hover {
            filter: grayscale(0);
          }
        }
        li {
          list-style: none;
          width: 48%;
          h4 {
            font-family: "Noto Sans TC", sans-serif;
            font-weight: 500;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;

    section.links {
      max-width: 1300px;
      margin: auto;

      div.f-menu {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          &:nth-child(1) {
            padding: 1rem 0;
          }

          li {
            list-style: none;
          }

          a {
            font-family: "Noto Sans TC", sans-serif;
            font-weight: 300;
            font-size: 14px;
            margin: 0 15px;
            color: white;
            text-decoration: none;
          }
        }
      }
    }
    p {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      line-height: 40px;
      font-size: 12px;
      margin-top: 20px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .toTop-arrow {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 50%;
    background: #8c8c8c;
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    &::before {
      transform: rotate(-45deg) translate(0, -50%);
      top: 1.2rem;
      left: 0.5rem;
      width: 16px;
      height: 3px;
      border-radius: 3px;
      background: white;
      position: absolute;
      content: "";
    }
    &::after {
      transform: rotate(45deg) translate(0, -50%);
      top: 1.2rem;
      right: 0.5rem;
      width: 16px;
      height: 3px;
      border-radius: 3px;
      background: white;
      position: absolute;
      content: "";
    }
    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    main {
      div.container {
        padding: 0 2.5rem;
      }
      div.pic-p {
        width: 30%;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  body {
    main {
      div.container {
        padding: 0 5rem;
        flex-direction: column;
      }
      section.info-brand {
        ul {
          li {
            div.b-text {
              p {
                br {
                  display: none;
                }
              }
            }
          }
        }
      }
      section.item {
        div.carousel-item {
          flex-direction: column;
          img {
            padding-right: 0;
            border-right: 0;
          }
          div.item-box {
            padding: 2rem 5rem 0 5rem;
          }
        }
      }
      section.store {
        div.s-title {
          text-align: center;
        }
        ul {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    main {
      section.info-brand {
        ul {
          justify-content: center;
          li {
            width: 45%;
            margin: 0 auto 2rem auto;
            &:nth-child(2) {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    div.menu-toggle {
      display: block;
    }

    .nav {
      display: none;
      width: 100%;
      background-color: white;
      position: absolute;
      top: 75px;
      left: 0;
    }

    .nav.active {
      display: block;
    }

    .nav {
      ul {
        flex-direction: column;
        li {
          margin-left: 0;
          padding: 0.5rem 1rem;
          border-bottom: 1px solid #eee;
          &:last-child {
            border-bottom: none;
          }
          a {
            color: #666;
          }
        }
      }
    }

    main {
      section.intro {
        div.pic-p {
          width: 100%;
        }
        div.intro-t {
          margin-left: 0;
          background: rgba(255, 255, 255, 0.9);
          padding: 0 2rem 2rem 2rem;
          text-align: center;
        }
        div.btn-box {
          justify-content: center;
        }
      }
      section.info-brand {
        ul {
          li {
            width: 72%;
          }
        }
      }
      section.item {
        div.carousel-item {
          div.item-box {
            p {
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  body {
    main {
      div.container {
        padding: 0 2rem;
      }
      section.intro {
        div.intro-t {
          h3 {
            font-size: 35px;
          }
          div.btn-box {
            a {
              background-color: Black;
              color: white;
              border: 1px solid black;
            }
          }
        }
      }
      section.info-brand {
        ul {
          li {
            width: 100%;
          }
        }
      }
      section.item {
        div.carousel-item {
          img {
            width: 75%;
          }
          div.item-box {
            padding: 2rem 3.5rem 0 3.5rem;
          }
        }
      }
      section.store {
        ul {
          li {
            width: 100%;
            &:first-child {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}
